@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --primary: #ff5555;
    --primary-foreground: #ffffff;

    --blob-primary: #ff5555;
    --blob-secondary: #fde598;

    --details: #00000090;

    --accent: #000000;
    --accent-foreground: #ffffff;

    --border: #000000;
    --input: #000000;
    --ring: #000000;

    --radius: 0.5rem;
  }

  .dark {
    --background: #222222;
    --foreground: #ffffff;

    --details: #ffffff50;

    --accent: #ffffff;
    --accent-foreground: #000000;

    --border: #ffffff;
    --input: #ffffff;
    --ring: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background p-1 font-clash-display text-foreground md:my-8;
  }
}

@layer components {
  .container {
    @apply xl:max-w-[1100px];
  }
}

.star {
  animation: spin 50s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
