@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --primary: #ff5555;
    --primary-foreground: #ffffff;

    --blob-primary: #ff5555;
    --blob-secondary: #fde598;

    --details: theme("textColor.gray.700");

    --accent: #000000;
    --accent-foreground: #ffffff;

    --border: theme("borderColor.gray.900");
    --input: theme("borderColor.gray.900");
    --ring: theme("borderColor.gray.900");

    --radius: 0.5rem;
  }

  .dark {
    --background: theme("backgroundColor.gray.950");
    --foreground: theme("textColor.gray.50");

    --blob-primary: #ff555530;
    --blob-secondary: #fde59830;

    --details: theme("textColor.gray.300");

    --accent: theme("textColor.gray.50");
    --accent-foreground: #000000;

    --border: theme("borderColor.gray.50");
    --input: theme("borderColor.gray.50");
    --ring: theme("borderColor.gray.50");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background font-clash-display text-foreground;
  }
  img {
    @apply select-none;
  }
}

@layer components {
  .container {
    @apply xl:max-w-[1100px];
  }
}

.star {
  animation: spin 50s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.blob-primary {
  animation: blobAnimation 20s infinite linear;
}

.blob-secondary {
  animation: blobAnimation 20s infinite linear reverse;
}

@keyframes blobAnimation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
