@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;

    --primary: #ff5555;
    --primary-foreground: #ffffff;

    --blob-primary: #ff5555;
    --blob-secondary: #fde598;

    --details: #00000050;

    --accent: #000000;
    --accent-foreground: #ffffff;

    --border: #000000;
    --input: #000000;
    --ring: #000000;

    --radius: 0.5rem;
  }

  .dark {
    --background: #222222;
    --foreground: #ffffff;

    --details: #ffffff50;

    --accent: #ffffff;
    --accent-foreground: #000000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-clash-display;
  }
}
